doctype html
html(lang='en')
  head
    link(rel='stylesheet' href=require('./style.scss'))
    link(rel="apple-touch-icon" sizes="180x180" href=require('~Favicon/apple-touch-icon.png'))
    link(rel="icon" type="image/png" sizes="32x32" href=require('~Favicon/favicon-32x32.png'))
    link(rel="icon" type="image/png" sizes="16x16" href=require('~Favicon/favicon-16x16.png'))
    title Hello!
  body
    h1 Hello
    script(src=require('./main.js'))